body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: transparent;
  background-color: #cc0000;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #cc0000;
  border: solid 2px #cc0000;
}
